# Lab 03: Fun with `pandas`!

Below are some exercises to get you working with `pandas` to manipulate data. As always, get as far as you can, and ask for help when you need it! Your teacher (me), you instructor, and your classmates are all here to help each other get better at coding. Getting the code to work is important, but do also take the time to make sure you understand what the commands are doing. This time, (with the exception of the Stroop challenge), all I've given you is the code to download the data. Then you are on your own. For the Stroop challenge, I gave the you code for the first step—after that, it's up to you :-)

## Music sales challenge

Write a script that:

1. Combines the tables of best-selling physical singles and best-selling digital singles on the Wikipedia page "List_of_best-selling_singles"
2. Adds a column which marks whether each row is from the list of physical singles or digital singles
3. Outputs the artist and single name for the year you were born. If there is no entry for that year, take the closest year after you were born.
4. Outputs the artist and single name for the year you were 15 years old.

In [2]:
# Starter code...

%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_best-selling_singles")

Collecting lxml
  Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading lxml-5.3.0-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 30.5 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Assessing the needed index for the data
rawdata[0]

,Artist,Single,Released,Sales (in millions),Source
0,Bing Crosby,"""White Christmas""",1942,50,[1]
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1]
2,Bing Crosby,"""Silent Night""",1935,30,[2]
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3]
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5]
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6]
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8]
7,USA for Africa,"""We Are the World""",1985,20,[9]
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10]
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11]
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12]
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13]
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14]
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15]

In [3]:
rawdata[3]

,Artist,Single,Released,Sales (in millions),Source
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47]
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47]
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48]
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47]
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47]
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49]
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46]
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53]
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49]
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54]
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49]
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47]
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54]
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55]
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56]
15,Adele,"""Someone Like You""",2011,17.0,[57]
16,Rihanna,"""Needed Me""",2016,17.0[a],[48]
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54]
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58]
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60]
20,Drake,"""God's Plan""",2018,15.3[a],[47]

In [4]:
df_physical = rawdata[0]
df_physical["Format"] = "Physical" #Making column with format = physical

df_digital = rawdata[3]
df_digital["Format"] = "Digital" #Doing the same for digital

merge_df = pd.concat([df_physical, df_digital])
merge_df

,Artist,Single,Released,Sales (in millions),Source,Format
0,Bing Crosby,"""White Christmas""",1942,50,[1],Physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,[1],Physical
2,Bing Crosby,"""Silent Night""",1935,30,[2],Physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,[3],Physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,[4][5],Physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,[6],Physical
6,Elvis Presley,"""It's Now or Never""",1960,20,[7][8],Physical
7,USA for Africa,"""We Are the World""",1985,20,[9],Physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],[10],Physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,[11],Physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,[12],Physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,[13],Physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,[14],Physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,[15],Physical
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],[46][47],Digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],[46][47],Digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],[48],Digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],[46][47],Digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],[46][47],Digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],[49],Digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],[50][46],Digital
7,Adele,"""Rolling in the Deep""",2011,20.6,[51][52][53],Digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],[49],Digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],[54],Digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],[49],Digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],[46][47],Digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],[54],Digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,[55],Digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],[56],Digital
15,Adele,"""Someone Like You""",2011,17.0,[57],Digital
16,Rihanna,"""Needed Me""",2016,17.0[a],[48],Digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],[54],Digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],[58],Digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],[59][60],Digital
20,Drake,"""God's Plan""",2018,15.3[a],[47],Digital

In [5]:
merge_df.pop('Source') #Removing the column called source

0              [1]
1              [1]
2              [2]
3              [3]
4           [4][5]
5              [6]
6           [7][8]
7              [9]
8             [10]
9             [11]
10            [12]
11            [13]
12            [14]
13            [15]
0         [46][47]
1         [46][47]
2             [48]
3         [46][47]
4         [46][47]
5             [49]
6         [50][46]
7     [51][52][53]
8             [49]
9             [54]
10            [49]
11        [46][47]
12            [54]
13            [55]
14            [56]
15            [57]
16            [48]
17            [54]
18            [58]
19        [59][60]
20            [47]
Name: Source, dtype: object

In [6]:
merge_df

,Artist,Single,Released,Sales (in millions),Format
0,Bing Crosby,"""White Christmas""",1942,50,Physical
1,Elton John,"""Something About the Way You Look Tonight""/""Ca...",1997,33,Physical
2,Bing Crosby,"""Silent Night""",1935,30,Physical
3,Tino Rossi,"""Petit Papa Noël""",1946,30,Physical
4,Bill Haley & His Comets,"""Rock Around the Clock""",1954,25,Physical
5,Whitney Houston,"""I Will Always Love You""",1992,24,Physical
6,Elvis Presley,"""It's Now or Never""",1960,20,Physical
7,USA for Africa,"""We Are the World""",1985,20,Physical
8,The Ink Spots,"""If I Didn't Care""",1939,19[disputed – discuss],Physical
9,Celine Dion,"""My Heart Will Go On""",1997,18,Physical
10,Mariah Carey,"""All I Want For Christmas Is You""",1994,16,Physical
11,Baccara,"""Yes Sir, I Can Boogie""",1977,16,Physical
12,Bryan Adams,"""(Everything I Do) I Do It for You""",1991,15,Physical
13,John Travolta and Olivia Newton-John,"""You're the One That I Want""",1978,15,Physical
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],Digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],Digital
2,Rihanna featuring Drake,"""Work""",2016,32.5[a],Digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],Digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],Digital
5,Wiz Khalifa featuring Charlie Puth,"""See You Again""",2015,20.9[a],Digital
6,The Chainsmokers featuring Halsey,"""Closer""",2016,20.7[a],Digital
7,Adele,"""Rolling in the Deep""",2011,20.6,Digital
8,Mark Ronson featuring Bruno Mars,"""Uptown Funk""",2015,20[a],Digital
9,Billie Eilish,"""Bad Guy""",2019,19.5[a],Digital
10,Ed Sheeran,"""Thinking Out Loud""",2015,19.5[a],Digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],Digital
12,Lil Nas X,"""Old Town Road""",2018,18.4[a],Digital
13,Carly Rae Jepsen,"""Call Me Maybe""",2011,18.0,Digital
14,Taylor Swift,"""Love Story""",2008,18.0[a],Digital
15,Adele,"""Someone Like You""",2011,17.0,Digital
16,Rihanna,"""Needed Me""",2016,17.0[a],Digital
17,Shawn Mendes and Camila Cabello,"""Señorita""",2019,16.1[a],Digital
18,Imagine Dragons,"""Radioactive""",2012,16[a],Digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],Digital
20,Drake,"""God's Plan""",2018,15.3[a],Digital

In [7]:
#I'm from 2002 so 2008 was the next in line (Visually assesed)
birth_df = merge_df[merge_df['Released'] == 2008]
birth_df

          Artist        Single  Released Sales (in millions)   Format
14  Taylor Swift  "Love Story"      2008             18.0[a]  Digital

In [8]:
#Songs from 2017, where I was 15 years old
birth_df = merge_df[merge_df['Released'] == 2017]
birth_df

,Artist,Single,Released,Sales (in millions),Format
0,Ed Sheeran,"""Shape of You""",2017,41.5[a],Digital
1,Luis Fonsi featuring Daddy Yankee,"""Despacito""",2017,36.1[a],Digital
3,The Chainsmokers and Coldplay,"""Something Just Like This""",2017,21.5[a],Digital
4,Ed Sheeran,"""Perfect""",2017,21.4[a],Digital
11,Camila Cabello featuring Young Thug,"""Havana""",2017,19.0[a],Digital
19,Imagine Dragons,"""Believer""",2017,15.4[a],Digital

## Space challenge

1. Make a single dataframe that combines the space missions from the 1950's to the 2020's
2. Write a script that returns the year with the most launches
3. Write a script that returns the most common month for launches
4. Write a script that ranks the months from most launches to fewest launches

In [9]:
#%pip install lxml
import pandas as pd

rawdata = pd.read_html("https://en.wikipedia.org/wiki/Timeline_of_Solar_System_exploration")

In [10]:
#Combine dataframes ranging from the 1950's to the 2020's 
df_50 = rawdata[0]
df_60 = rawdata[1]
df_70 = rawdata[2]
df_80 = rawdata[3]
df_90 = rawdata[4]
df_00 = rawdata[5]
df_10 = rawdata[6]
df_20 = rawdata[7]

merge_df = pd.concat([df_50, df_60, df_70, df_80, df_90, df_00, df_10, df_20])
merge_df

,Mission name,Launch date,Description,Ref(s)
0,Sputnik 1,4 October 1957,First Earth orbiter,[1][2]
1,Sputnik 2,3 November 1957,"Earth orbiter, first animal in orbit, a dog na...",[2][3][4]
2,Explorer 1,1 February 1958,Earth orbiter; discovered Van Allen radiation ...,[5]
3,Vanguard 1,17 March 1958,Earth orbiter; oldest spacecraft still in Eart...,[6]
4,Luna 1,2 January 1959,First lunar flyby (attempted lunar impact?); f...,[7][8][9][10]
...,...,...,...,...
18,Peregrine Mission One (including Iris and Colm...,8 January 2024,Lunar lander and rovers (landing precluded),[504]
19,IM-1 Nova-C Odysseus (including EagleCam deplo...,15 February 2024,Lunar landers,[505]
20,DRO A/B,13 March 2024,Lunar orbiters,[506]
21,Queqiao-2 (including Tiandu-1 and 2),20 March 2024,Lunar orbiters,[507]
22,Chang'e 6 (including Pakistan's ICUBE-Q cubesat),3 May 2024,"Lunar sample return, rover and orbiters; first...",[508][509]

In [11]:
merge_df['Launch date'] = pd.to_datetime(merge_df['Launch date']) # Convert the 'Launch date' to datetime format

merge_df['Launch year'] = merge_df['Launch date'].dt.year # Extract the year from the 'Launch date' column

missions_per_year = merge_df.groupby('Launch year').size() # Group by the 'Launch year' and count the number of missions for each year

# Find the year with the most missions
most_missions_year = missions_per_year.idxmax()
most_missions_count = missions_per_year.max()

# Results in text
print(f"The year with the most missions launched is {most_missions_year} with {most_missions_count} missions.")

The year with the most missions launched is 1965 with 12 missions.

In [12]:
#Most common month for launching - did the exact same but for month
merge_df['Launch month'] = merge_df['Launch date'].dt.month # Extract the month from the 'Launch date' column

missions_per_month = merge_df.groupby('Launch month').size() # Group by the 'Launch month' and count the number of missions for each month

# Find the month with the most missions
most_missions_month = missions_per_month.idxmax()
most_missions_count_month = missions_per_month.max()

# Display the results in text
print(f"The month with the most missions launched is the {most_missions_month}th month with {most_missions_count_month} missions.")

The month with the most missions launched is the 11th month with 30 missions.

In [13]:
ranked_months = missions_per_month.sort_values(ascending=False) #Ranks the months from most launches to fewest launches

# Display the ranked months
ranked_months
#Where the first number is the month and second is number of launches.

Launch month
11    30
8     27
10    22
9     22
7     21
12    19
1     19
5     17
3     15
2     14
6     14
4     13
dtype: int64

## Supervillain challenge

1. Write a script that combines the tables showing supervillain debuts from the 30's through the 2010's
2. Write a script that ranks each decade in terms of how many supervillains debuted in that decade
3. Write a script that ranks the different comics companies in terms of how many supervillains they have, and display the results in a nice table (pandas dataframe)

In [3]:
rawdata = pd.read_html("https://en.wikipedia.org/wiki/List_of_comic_book_supervillain_debuts")

In [4]:
df_30 = rawdata[3]
df_40 = rawdata[4]
df_50 = rawdata[5]
df_60 = rawdata[6]
df_70 = rawdata[7]
df_80 = rawdata[8]
df_90 = rawdata[9]
df_00 = rawdata[10]
df_10 = rawdata[11]

merge_df = pd.concat([df_30, df_40, df_50, df_60, df_70, df_80, df_90, df_00, df_10])
merge_df

,Character / Team,Year Debuted,Company,Creator/s,First Appearance
0,Ultra-Humanite,1939 (June),DC,"Jerry Siegel, Joe Shuster",Action Comics (vol. 1) #13
1,Dr. Death,1939 (July),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #29
2,The Monk,1939 (September),DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #31
3,The Claw,1939 (December),Lev Gleason Publications,Jack Cole,Silver Streak Comics #1
0,Hath-Set,1940 (January),DC,"Gardner Fox, Dennis Neville",Flash Comics #1
...,...,...,...,...,...
4,Bloodwork,2016 (August),DC,Brian Buccellato,The Flash #28
5,Godspeed,2016 (August),DC,"Joshua Williamson, Carmine Di Giandomenico",The Flash: Rebirth #1
6,The Hamster (Mr. Hansen),2017,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 2: Gum Luck
7,The Underhander,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!
8,The Cocodrilos,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!

In [5]:
# Splitting by space and taking only the first part (the year) - as some of the data has a month attached as well
merge_df['Year Debuted'] = merge_df['Year Debuted'].apply(lambda x: x.split(' ')[0])
merge_df

,Character / Team,Year Debuted,Company,Creator/s,First Appearance
0,Ultra-Humanite,1939,DC,"Jerry Siegel, Joe Shuster",Action Comics (vol. 1) #13
1,Dr. Death,1939,DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #29
2,The Monk,1939,DC,"Bob Kane, Bill Finger",Detective Comics (vol. 1) #31
3,The Claw,1939,Lev Gleason Publications,Jack Cole,Silver Streak Comics #1
0,Hath-Set,1940,DC,"Gardner Fox, Dennis Neville",Flash Comics #1
...,...,...,...,...,...
4,Bloodwork,2016,DC,Brian Buccellato,The Flash #28
5,Godspeed,2016,DC,"Joshua Williamson, Carmine Di Giandomenico",The Flash: Rebirth #1
6,The Hamster (Mr. Hansen),2017,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 2: Gum Luck
7,The Underhander,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!
8,The Cocodrilos,2019,Disney/Hyperion,Rhode Montijo,The Gumazing Gum Girl! Book 4: Cover Blown!

In [53]:
merge_df['Year Debuted'] = pd.to_numeric(merge_df['Year Debuted'], errors='coerce') # Convert 'Year Debuted' to numeric, coercing errors to NaN

merge_df = merge_df.dropna(subset=['Year Debuted']) # Drop rows where 'Year Debuted' is NaN (optional depending on your needs)

merge_df.loc[:, 'Year Debuted'] = merge_df['Year Debuted'].astype(int) # Convert the 'Year Debuted' column to integers

merge_df.loc[:, 'Decade'] = (merge_df['Year Debuted'] // 10) * 10 # Create a new column for the decade

decade_counts = merge_df.groupby('Decade').size().reset_index(name='villain_count') # Group by decade and count the number of villains in each decade

decade_counts = decade_counts.sort_values(by='villain_count', ascending=False) # Sort the counts from most to least villains

print(decade_counts)

   Decade  villain_count
3  1960.0            225
4  1970.0             95
5  1980.0             90
6  1990.0             83
7  2000.0             49
1  1940.0             46
2  1950.0             26
8  2010.0              9
0  1930.0              4

/tmp/ipykernel_366/4096580798.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_df.loc[:, 'Decade'] = (merge_df['Year Debuted'] // 10) * 10

In [7]:
#Write a script that ranks the different comics companies in terms of how many supervillains they have, 
#and display the results in a nice table (pandas dataframe)
#Use merge_df
unique_villain_count = merge_df.groupby('Company')['Character / Team'].nunique().reset_index(name='unique_villain_count') # Group by Company and count the number of unique characters

unique_villain_count_sorted = unique_villain_count.sort_values(by='unique_villain_count', ascending=False) # Sort the df by 'unique_villain_count' in descending order

print(unique_villain_count_sorted)

                     Company  unique_villain_count
1                         DC                   334
9                     Marvel                   263
5          Fawcett Comics/DC                     6
2                 Dark Horse                     5
6                      Image                     5
3            Disney/Hyperion                     4
10             Marvel/Timely                     4
4                   Eternity                     3
0                     Comico                     1
7               Image Comics                     1
8   Lev Gleason Publications                     1
11                    Mirage                     1

## Stroop challenge

Every year between 2015 and 2021, the students in my Language, Cognition, and the Brain course participated in a version of the Stroop task. Using a stopwatch (ok, using their phones), they recorded how fast they could say a list of things (either reading or naming colors or color words). The column names mean "Reading with No Interference", "Naming with Interference", "Naming with No Interference", and "Reading with Interference". The times are in seconds.

### Stroop challenge 1: 
Transform these data from wide format to long format, so that the result is a dataframe with
- 1 column named "Participant_id" with a unique number for each participant (you can use the row indices)
- 1 column named "Year" with the year data
- 1 column named "Task" that shows which task they were doing
- 1 column named "RT" that shows their response time

In [8]:
# Starter code 1...
df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/Stroop/master/Stroop-raw-over-the-years.csv")
df.head()

   Reading_NoInt  Naming_Int  Naming_NoInt  Reading_Int  Year
0           4.16        6.76          4.45         4.65  2015
1           4.35        7.73          4.78         4.46  2015
2           3.60        7.00          4.00         3.50  2015
3           3.90        9.03          4.60         6.30  2015
4           4.22        9.98          6.83         6.24  2015

In [9]:
# Starter code 2...

# Make a new column using the dataframe indices as particpant numbers

df.index.name = 'Participant_id'
df = df.reset_index()

#df.reset_index(inplace = True)
# NOTE: This line does exactly the same thing as the line above:
# it replaces the original df with a new df with the updated index. That's what
# "inplace = True" means. Or, you can just assign the dataframe with the updated index
# to a new dataframe with the same name as the old dataframe, which is what I did above.
# The end result is the same.

df

,Participant_id,Reading_NoInt,Naming_Int,Naming_NoInt,Reading_Int,Year
0,0,4.16,6.76,4.45,4.65,2015
1,1,4.35,7.73,4.78,4.46,2015
2,2,3.60,7.00,4.00,3.50,2015
3,3,3.90,9.03,4.60,6.30,2015
4,4,4.22,9.98,6.83,6.24,2015
...,...,...,...,...,...,...
177,177,4.30,7.08,6.25,4.28,2021
178,178,4.75,9.66,6.12,5.49,2021
179,179,4.98,7.52,6.73,5.16,2021
180,180,5.16,8.81,8.19,5.51,2021
181,181,4.27,10.40,5.32,4.59,2021

In [10]:
#Making dataframe into long format
df2 = pd.melt(df,
                  id_vars=['Participant_id', 'Year'],  # columns to keep from old df
                  value_vars=['Reading_NoInt', 'Naming_Int', 'Naming_NoInt', 'Reading_Int'],  # melt the task and reaction time information into stacked rows
                  var_name='Task',  #Task are the stored task names
                  value_name='RT') #RT are the corresponsing values

print(df2)

     Participant_id  Year           Task    RT
0                 0  2015  Reading_NoInt  4.16
1                 1  2015  Reading_NoInt  4.35
2                 2  2015  Reading_NoInt  3.60
3                 3  2015  Reading_NoInt  3.90
4                 4  2015  Reading_NoInt  4.22
..              ...   ...            ...   ...
723             177  2021    Reading_Int  4.28
724             178  2021    Reading_Int  5.49
725             179  2021    Reading_Int  5.16
726             180  2021    Reading_Int  5.51
727             181  2021    Reading_Int  4.59

[728 rows x 4 columns]

## Stroop challenge 2 (Advanced!!!):

Make a new dataframe which shows the mean response time (in seconds) for each task for each year.

In [11]:
new_df = df2.groupby('Task')['RT'].mean().reset_index() #Calculaing the mean for each of the four task groupings. 

# rename column
new_df.rename(columns={'RT': 'Mean_RT'}, inplace=True)
print(new_df)

            Task   Mean_RT
0     Naming_Int  9.381538
1   Naming_NoInt  5.802857
2    Reading_Int  5.600220
3  Reading_NoInt  4.395275